#root {
  max-width: 100vx;
  margin: 0 auto;
  // text-align: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 0.5em;
}

.card-title {
  text-align: center !important;
}

.read-the-docs {
  color: #888;
}

.navbar {
  width: 100vw;
}

.btn-right {

  float: right;

  // centered btn
  // position: relative;
  // left: 50%;
  // transform: translate(-50%);
}

.logo {
  padding: 10px;
}
