body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-image: url("../public/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}

.card-text,
.card-title,
.list-group-item,
.capitalise {
  text-transform: capitalize !important;
}

.artist-name {
  -webkit-text-fill-color: blue;
}

.gold-badge {
  margin-right: 10px;
  -webkit-text-fill-color: gold;
}

.logo {
  margin-right: 15px;
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.shuffle-icon {
  float: right !important;
}

.btn-success {
  max-width: 5vw !important;
  display: inline-flex !important;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  white-space: nowrap !important;
}

.form-width {
  width: 80vw !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.swing {
  margin: 0 !important;
}

.genre-container {
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
